<div class="row">
	<div class-"small-12 columns" id="usersPerDate"></div>
</div>

<script type="text/javascript" charset="utf-8">
	$(function() {
		
		<%= render chart: 'pie', locals: { divId: 'usersPerDate', title: "Chats Per User on #{DateTime.now.strftime('%d %b %Y')}", subtitle: 'Number of chats', data: @result.to_json } %>
		
	});
</script>