<div class="row">
	<div class="small-3 columns inline">
		<label data-tooltip for="token" class="right inline has-tip" title="You can create this token in the HipChat configurations. The tokens needs to be an admin token.">Your HipChat Token: </label>
	</div>
	<div class="small-5 columns">
		<input type="text" id="token" value="<%= session[:token] %>"/>
	</div>
	<div class="small-4 columns">
		
	</div>
</div>
<div class="row">
	<div class="small-9 small-offset-3 columns">
		<a href="#" class="tiny button radius" id="submittoken">Submit</a>
	</div>
</div>
<% if session[:token] then %>
<script type="text/javascript" charset="utf-8">
	doTokenSubmit();
</script>
<% end %>
<div class="row">
	<div class="small-12 columns" id="rooms">
		
	</div>
</div>